$color_1: #F9F9F9;
$font-family_1: 'Cinzel';
$font-family_2: 'Raleway';
$background-color_1: #B2BABB;
$background-color_2: #496683;
$background-color_3: #222F3D;
$background-color_4: #154360;
$background-color_5: #34495E;
