nav {
  grid-area: nav;
}
nav a {
  text-decoration: none;
  padding: 20px;
  color: #F9F9F9;
}
nav .container-fluid {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  font-family: "Cinzel";
  font-weight: bolder;
}
nav .navbar-toggler {
  background-color: #B2BABB;
}
nav .logo {
  width: 115px;
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  padding: 20px;
  color: #F9F9F9;
}

.encabezados {
  font-family: "Raleway";
  padding: 40px;
  background-color: #34495E;
  color: #F9F9F9;
  display: flex;
  justify-content: center;
  margin: 0px;
}

h1 {
  grid-area: titulo;
}

body {
  font-family: "Raleway";
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body img {
  width: 100%;
}
body img .imgPortada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 17rem;
  grid-area: imgPortada;
}
body .bodyB {
  background-color: #496683;
}

.grillaGeneral {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "nav" "titulo" "imgPortada" "footer";
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-weight: bold;
  background-color: #496683;
  color: #F9F9F9;
  width: 100%;
  padding: 20px;
}
.form .form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton {
  font-weight: bold;
  background-color: #154360;
  padding: 30px;
  color: #F9F9F9;
  border: 1px;
  border-radius: 20px;
}
.boton:hover {
  transform: scale(1.2);
}
.boton:hover {
  transition-property: all;
  transition-duration: 3s;
}

.boton-2 {
  background-color: #154360;
  padding: 10px;
  color: #F9F9F9;
  border: 1px;
  border-radius: 10px;
}
.boton-2:hover {
  transform: scale(1.2);
}
.boton-2:hover {
  transition-property: all;
  transition-duration: 3s;
}

.tiendaProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.tiendaProductos .card {
  border-radius: 4px;
  padding: 5px;
  max-height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tiendaProductos .card .btn-primary {
  background-color: #34495E;
  border: 4px solid #34495E;
  border-radius: 50px;
}

.contacto {
  padding: 20px;
  border: 7px solid #34495E;
  background-color: #496683;
}
.contacto .pForm {
  color: #F9F9F9;
}

.vision {
  padding: 70px;
  font-size: larger;
  color: #F9F9F9;
  border: 7px solid #34495E;
  background-color: #496683;
  display: flex;
}

.maps {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #496683;
  padding-bottom: 3rem;
}
.maps .direcciones {
  padding: 25px;
  font-weight: bold;
  color: #F9F9F9;
}
.maps div iframe {
  width: 100%;
}

.clientes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.clientes .card {
  margin: 19px;
  max-height: 500px;
  border: 2px solid #34495E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.clientes .card .card-text {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
.clientes .card .card-title {
  font-size: 24px;
  font-weight: bolder;
  color: #154360;
}
.clientes .card .col-md-8 {
  display: flex;
  align-items: center;
}
.clientes .card .img-fluid {
  max-width: 100%;
  height: 100%;
}

footer {
  grid-area: footer;
  padding: 50px;
  background-color: #222F3D;
  font-family: "Raleway";
  color: #F9F9F9;
}
footer .infFooter {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
footer .icons {
  width: 30px;
  height: 30px;
}
footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 4rem;
}

@media screen and (min-width: 400px) {
  .grillaGeneral {
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "titulo" "imgPortada" "footer";
  }
  .valor {
    width: 35%;
    padding: 7px;
    background-color: #34495E;
    color: #F9F9F9;
    font-weight: bolder;
    border: 4px solid #34495E;
    border-radius: 50px;
  }
  .card {
    width: 22rem !important;
  }
  .clientes .card .img-fluid {
    max-width: 100%;
    height: 20rem;
  }
}
@media screen and (min-width: 768px) {
  .grillaGeneral {
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "titulo" "imgPortada" "footer";
  }
  .valor {
    background-color: #34495E;
    color: color_1;
    font-weight: bolder;
    border: 4px solid #34495E;
    border-radius: 50px;
    width: 40%;
    padding: 11px;
  }
  .logo {
    width: 150px;
  }
  .tiendaProductos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "producto1 producto2" "valor1 valor2" "producto3 producto4" "valor3 valor4" "producto5 producto6" "valor5 valor6" "producto7 producto8" "valor7 valor8";
    grid-template-columns: 35% 35%;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    padding: 10px;
  }
  .card {
    width: 20rem !important;
  }
  .imgPortada {
    width: 100%;
    height: 24rem;
  }
}
@media screen and (min-width: 993px) {
  .tiendaProductos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "producto1 producto2" "valor1 valor2" "producto3 producto4" "valor3 valor4" "producto5 producto6" "valor5 valor6" "producto7 producto8" "valor7 valor8";
    grid-template-columns: 35% 35%;
    row-gap: 69px;
    column-gap: 140px;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    padding: 65px;
  }
  .navbar .container-fluid {
    display: flex;
    flex-direction: row;
  }
  .card {
    width: 30rem !important;
  }
  .imgPortada {
    width: 100%;
    height: 55rem;
  }
  .clientes .card .img-fluid {
    max-width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
