* {
    margin: 0px;
    padding: 0px;
}

nav{
    grid-area: nav;
    background-color: #0C2063;
}

ul li{
    list-style-type: none;
    border: #F9F9F9 solid 2px;
}

a{
    text-decoration: none;
    padding: 20px;
    color: #F9F9F9 ;
}

nav ul{
    align-items: flex-start;
    font-family: 'Cinzel';
}

body{
    font-family: 'Raleway';
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img{
    width: 300px;
}

footer{
    grid-area: footer;
    padding: 50px;
    background-color: #0C2063;
    font-family: 'Raleway';
    color: #F9F9F9;
}

.infFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.icons{
    width: 30px;
    height: 30px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgPortada{
    background-color: #0F0F10;
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    grid-area: imgPortada;
}

.imgPortada:hover{
    transform: scale(1.2);
}

.imgPortada:hover{
    transition-property: all;
    transition-duration: 3s;
}


h3{
    padding: 30px;
}

h2, h1{
    font-family: 'Raleway';
    padding: 40px;
    background-color: #0E82D2;
    color: #F9F9F9;
    display: flex;
    justify-content: center;
}

.maps{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div iframe{
    width: 75%;
}


h1{
    grid-area: titulo;
}


.producto1{
    grid-area: producto1;
}

.valor1{
    grid-area: valor1;
}

.producto2{
    grid-area: producto2;
}

.valor2{
    grid-area: valor2;
}

.producto3{
    grid-area: producto3;
}

.valor3{
    grid-area: valor3;
}

.producto4{
    grid-area: producto4;
}

.valor4{
    grid-area: valor4;
}

.producto5{
    grid-area: producto5;
}

.valor5{
    grid-area: valor5;
}

.producto6{
    grid-area: producto6;
}

.valor6{
    grid-area: valor6;
}

.producto7{
    grid-area: producto7;
}

.valor7{
    grid-area: valor7;
}

.producto8{
    grid-area: producto8;
}

.valor8{
    grid-area: valor8;
}

.grillaGeneral{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "titulo"
    "imgPortada"
    "footer";
}

@media screen (min-width: 500px) {
    .grillaGeneral{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "nav nav"
        "titulo titulo"
        "imgPortada imgPortada"
        "footer footer"
    } 
}

@media screen (min-width: 769px) {
    .grillaGeneral{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "nav nav nav"
        "titulo titulo titulo"
        "imgPortada imgPortada imgPortada"
        "footer footer footer"
    } 
}

@media screen (min-width: 1025px) {
    .tiendaProductos{
        width: 100%;
        display: grid;
        grid-template-areas:
        'producto1 producto2'
        'valor1 valor2'
        'producto3 producto4'
        'valor3 valor4'
        'producto5 producto6'
        'valor5 valor6'
        'producto7 producto8'
        'valor7 valor8';
        grid-template-columns: 35% 35%;
        align-items: center;
        justify-content: space-around;
        justify-items: stretch;
    } 
}